@import "tailwindcss";

@theme {
  --color-ws-blue: #2E90DB;
  --color-ws-orange: #F39C12;
  --color-ws-navy: #1A2A6C;
  --color-ws-red: #E74C3C;
}

@layer base {
  body {
    @apply bg-ws-blue;
  }
}

@layer components {
  .torn-paper-edge-top {
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1200 120' preserveAspectRatio='none'%3E%3Cpath d='M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5,73.84-4.36,147.54,16.88,218.2,35.26,69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113,14.29,1200,52.47V0Z' fill='%23000'/%3E%3C/svg%3E");
    mask-size: 100% 100%;
  }

  .torn-paper-edge-bottom {
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1200 120' preserveAspectRatio='none'%3E%3Cpath d='M0,120V73.71c47.79-22.2,103.59-32.17,158-28,70.36,5.37,136.33,33.31,206.8,37.5,73.84,4.36,147.54-16.88,218.2-35.26,69.27-18,138.3-24.88,209.4-13.08,36.15,6,69.85,17.84,104.45,29.34C989.49,95,1113,105.71,1200,67.53V120Z' fill='%23000'/%3E%3C/svg%3E");
    mask-size: 100% 100%;
  }
}
